@import url('https://fonts.googleapis.com/css?family=Spirax');

body {
    background-image: url('../img/backgroud-coffee-beans.jpg');
    font-family: 'Spirax', cursive;
}

h2 {
    text-align: center;
    color: white;
    padding: 10px;
}

p {
    color: white;
}

.card-text {
    color: black;
}

i {
    color: white;
}

label {
    color: #ffffff;
}