@import url('https://fonts.googleapis.com/css?family=Spirax');

body {
    background-color: black;
    font-family: 'Spirax', cursive;
    background-image: url("coffe.jpg");
}

h1 {
    text-align: center;
    color: white;
    
}